:root {
    --white: white;
    --deepblue: rgb(0, 2, 34);
    --green: green;
    --red: rgb(199, 2, 2);
}
body{
    background-color: var(--deepblue);
    font-family: 'Roboto', sans-serif;
}
.main-wrapper {
    height: 100vh;
}
header, footer {
    width: 100%;
    background-color: var(--white);
    padding: 0 20px;
}
header{
    height: 80px;
}
footer{
    height: 50px;
    line-height: 50px;
}
/* MAIN */
main{
    min-height: calc(100vh - 130px);
    overflow-y: hidden;
}
.container-grid {
    height: 500px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.square {
    border: 2px solid rgb(92, 92, 92);
    background-color: rgb(175, 175, 175);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.safe {
    background-color: var(--green);
}
.bomb {
    background-color: var(--red);
}
.click-none {
    pointer-events: none;
}