:root {
    --white: white;
    --deepblue: rgb(0, 2, 34);
    --green: rgba(0, 195, 0, 0.6);
    --red: rgba(254, 0, 0, 0.60);
    --lightgray: rgb(205, 205, 205);
    --gray: rgb(126, 126, 126);
    --red2: rgba(254, 0, 0);
    --green2: rgba(0, 195, 0);
}
body{
    background-color: var(--deepblue);
    font-family: 'Roboto', sans-serif;
}
.main-wrapper {height: 100vh;}
header, footer {
    width: 100%;
    background-color: var(--white);
    padding: 0 20px;
}
header{height: 80px;}
footer{
    height: 50px;
    line-height: 50px;
}
/* MAIN */
main{
    min-height: calc(100vh - 130px);
    overflow-y: hidden;
}
.container-grid {
    height: 500px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.square {
    border-radius: 12px;
    outline: inset;
    background-color: var(--lightgray);
    box-shadow: 10px 10px 5px var(--gray);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.num-square { visibility: hidden;}
.safe {
    background-color: var(--green);
}
.bomb {
    background-color: var(--red);
}
.bomb-appear{
    width: 50px;
}
.click-none {
    pointer-events: none;
}
.loose, .win {
    padding-bottom: 50px;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    letter-spacing: 2px;
}
.loose {color: var(--red2);}
.win {color: var(--green2);}
.js-btn {
    border-radius: 8px;
    border-color: var(--white);
    background-color: transparent;
    color: var(--white);
    font-size: 15px;
    padding: 5px 15px;
    margin-top: 8px;
    transition: 600ms;
}
.js-btn:hover{ transform: scale(1.1);}